/* DESKTOP MODE */
:root {
    --controls-display: none !important ;
}

/* MOBILE SCREEN IN PORTRAIT MODE */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/At-rules/@media/orientation */
@media only screen and (max-width: 600px) and (orientation: portrait)  {
    :root {
         --controls-display: flex  !important  ;
         --content-col: space-between;
    }
}


/* MOBILE IN LANDSCAPE MODE */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/At-rules/@media/orientation */
@media only screen and (max-width: 900px) and  (orientation: landscape) {
    :root {
        --controls-display: block !important  ;
        --position: fixed;
        --left: 0%;
        --zIndex: 4;
        --margin: -75px;
        --content-col: center
    }
}

.touch-controls{
    display: var(--controls-display);
    position: var(--position);
    left: var(--left);
    z-index: var(--zIndex);
    margin-top: var(--margin);
    /* margin-bottom: var(--marginBottom); */
    width: 100%;
}

.controls-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.left-col{
    display: flex;
    width: 40%;
    justify-content: var(--content-col);
    flex-direction: row;
}

.right-col{
    display: flex;
    width: 40%;
    justify-content: var(--content-col);
    flex-direction: row;
}

.control-btn{
    border-radius: 50%;
    padding: 20px;
    border: 0px;
    background-color:rgba(204, 204, 204, 0.274);
    height: 65px;
    width: 65px;

}

.left-btn{
    background-image: url("../../../resources/icons/left.png");
}

.right-btn{
    background-image: url("../../../resources/icons/right.png");
}

.back-btn{
    background-image: url("../../../resources/icons/brake.png");
}

.forward-btn{
    background-image: url("../../../resources/icons/pedal.png");

}
