 .header{
            width: auto;
            background-color: #3182BD;
            padding: 5px;
            margin-bottom: 20px;
            
 }

.title{
    color: white;
    margin-left: 10px;
}
