

<div class="options-panel">
  <div class="options-div">
    <label for="music-checkbox" class="options-label">Music </label>
    <input id="music-checkbox" name="music-checkbox" type="checkbox" />
  </div>
  <div class="options-div">
    <label for="shadows-checkbox" class="options-label">Shadows </label>
    <input id="shadows-checkbox" type="checkbox" name="shadows-checkbox" />
  </div>
</div>

<div class="button-grid">
  <button id="saveBtn" class="game-btn">Save</button>
  <button id="backBtn" class="game-btn">Back</button>
</div>
