

<div class="options-panel">
  <div class="options-div">
    <label for="debug-checkbox" class="options-label">Debug Mode</label>
    <input id="debug-checkbox" name="debug-checkbox" type="checkbox" />
  </div>
  <div class="options-div">
    <label for="music-checkbox" class="options-label">Music </label>
    <input id="music-checkbox" checked="false" name="music-checkbox" type="checkbox" />
  </div>
  <div class="options-div">
    <label for="shadows-checkbox" class="options-label">Shadows </label>
    <input id="shadows-checkbox" checked="true" type="checkbox" name="shadows-checkbox" />
  </div>
</div>

<div class="button-grid">
  <button id="backBtn" class="game-btn">Back</button>
</div>
