
  .options-panel {
    display: flex;
    flex-direction: column;
    justify-items: center;
  }

  .options-div{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-bottom: 10px;
  }

  .options-label{
    font-family: 'Monocoque';
    font-size: xx-large;
    color: white;
  }