<div class="game-container">
  <div id="wallpaper" class="wallpaper"></div>
  <div id="canvas-container" class="canvas-container">
    <div class="canvas-container-header">

        <h2 class="game-title">Need for Rally</h2>
    </div>
    <div id="main-menu" class="button-grid">
      <button id="quickRaceBtn"class="game-btn" >Quick Race</button>
      <button id="optionsBtn" class="game-btn">Options</button>
      <button id="helpBtn" class="game-btn">Help</button>
    </div>

    <div id="options-menu">
        <options-component></options-component>
    </div>
    
  </div>
  <canvas class="game" id="canvas"></canvas>
  
</div>
